/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
body{
	background:#FFFFFF;
}
/*-- banner --*/
.banner{
	background: url(../images/6.jpg) no-repeat 0px 0;
    background-size: cover;
    padding: 1em 0 5em;
}
.agile-logo {
    width: 13%;
}
.agile-logo h1{
	margin:0;
}
.agile-logo h1 a{
    color: #FFFfff;
    font-size: .4em;
    letter-spacing: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
}
.agile-logo h1 a span{
    display: block;
    font-size: 2em !important;
    font-weight: 700;
    letter-spacing: 6px;
}
.w3l-banner-grids {
    margin: 4em 0 0 0;
    padding: 2em 1em;
    background: rgba(255, 255, 255, 0.18);
}
.w3ls-banner-right {
    float: right;
}
.w3ls-banner-left {
    float: left;
}
.w3ls-banner-left-info {
    padding: 1em 0;
    border-bottom: 1px dashed #fff;
}
.w3ls-banner-left-info h4,.social-info h4{
    font-size: 1.2em;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.w3ls-banner-left-info p{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
}
.w3ls-banner-left-info p a{
    font-size: .9em;
    margin: 1em 0 0 0;
    color: #cecece;
	text-decoration:none;
}
.w3ls-banner-left-info p a:hover{
	color:#FF9800;
}
.w3ls-banner-left-info:nth-child(5){
	border:none;
}
.banner-right-img{
    float: left;
    width: 30%;
}
.banner-right-img img{
    width: 100%;
    border: solid 8px #ffffff;
}
.banner-right-info{
    float: right;
    width: 65%;
}
.banner-right-info h2{
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.banner-right-info p{
	color:#cecece;
	font-size:.9em;
	margin:1em 0 0 0;
	line-height:1.8em;
}
.w3-button {
    margin: 3em 0 0 0;
}
.w3-button-info {
    line-height: inherit !important;
}
.w3-button a{
    padding: .5em 2em;
    color: #ffffff !important;
    text-transform: uppercase;
    background: #FF9800;
    font-weight: 700 !important;
    text-decoration: none !important;
    line-height: initial !important;
    font-size: .9em !important;
    margin: 0 !important;
}
.w3-button a:focus{
	outline:none;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
	color: #2f2f2f !important;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.social-grids {
    margin: 2em 0 0 0;
}
.social-info{
	float:left;
	width:20%;
}
.social-info h4 {
    margin: .2em 0 0 0 !important;
}
.agileinfo-social-grids{
    float: left;
    margin:0;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss, .agileinfo-social-grids ul li a i.fa.fa-vk, .agileinfo-social-grids ul li a i.fa.fa-linkedin {
    height: 30px;
    width: 30px;
    border: solid 2px #FFFFFF;
    line-height: 29px;
    background: none;
    color: #FFFFFF;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 2px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 2px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 2px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-linkedin:hover{
	border: solid 2px #45668e;
	background:#45668e;
	color: #FFFFFF;
}
/*-- //banner --*/
/*-- about --*/
.about,.statistics,.experience,.feedback,.projects,.contact{
    padding: 4em 0;
}
.wthree-about-left h3,.wthree-about-right h3,.w3-agileits-statistics-heading h3{
    color: #2f2f2f;
    font-size: 2em;
    margin: 0 0 1em 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.wthree-about-left h4{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 600;
    margin: 0;
    line-height: 1.5em;
}
.wthree-about-left p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.wthree-about-left p span{
    display: block;
    margin: 1em 0;
}
/*-- skills --*/
.skills-bar .bar_group__bar.thin::before, .skills-bar .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

.skills-bar .bar_group__bar.thin::before {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E4E4E4;
}

.skills-bar .bar_group__bar.thin {
  width: 0%;
  height: 4px;
  border-radius: 2px;
  background: red;
  margin-bottom: 10px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.skills-bar .b_label, .skills-bar .bar_label_min, .skills-bar .bar_label_max, .skills-bar .b_tooltip span {
    color: #2f2f2f;
    font-size: .9em;
	font-weight:600;
}
.skills-bar .bar_label_max {
    position: absolute;
    right: 0;
    margin: 1em 0 0 0;
}
.skills-bar .bar_label_min {
    position: absolute;
    left: 0;
    margin: 1em 0 0 0;
}
.skills-bar .b_tooltip {
  -webkit-transition: all 1s;
          transition: all 1s;
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color: rgba(67, 66, 76, 0.81);
  -webkit-transform: translateX(-50%) translateY(-30px);
  -ms-transform: translateX(-50%) translateY(-30px);
  transform: translateX(-50%) translateY(-30px);
  border-radius: 2px;
  line-height: 11px;
}
.skills-bar .b_tooltip span {
  color: white;
}
.skills-bar .b_tooltip--tri {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(67, 66, 76, 0.81) transparent transparent transparent;
}
.skills-bar .bar_group__bar:nth-of-type(1) {
    background: #ff9800;
    z-index: 9990 !important;
}
.skills-bar .bar_group__bar:nth-of-type(2) {
  background: #ff9800;
}
.skills-bar .bar_group__bar:nth-of-type(3) {
  background: #ff9800;
}
.skills-bar .bar_group__bar:nth-of-type(4) {
  background: #ff9800;
}
.skills-bar .bar_group__bar:nth-of-type(5) {
  background: #ff9800;
}
.bar_group {
  position: relative;
}
/*-- //skills --*/
/*-- //about --*/
/*-- statistics --*/
.statistics{
	background:url(../images/s2.jpg) no-repeat 0px 0px;
	background-size:cover;
}
.jarallax {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.w3-agileits-statistics-heading h3{
    text-align: center;
    color: #FFFFFF;
}
.agile-statistics-grids {
    margin: 4em 0 0 0;
}
.agile-statistics-grid{
	text-align:center;
}
.agile-statistics-grid h4{
    color: #FFFFFF;
    font-size: 2em;
    margin: 0 0 .5em 0;
}
.agile-statistics-grid p{
    color: #FFFFFF;
    font-size: 1em;
    margin: 1em 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.agile-statistics-grid i.fa.fa-desktop,.agile-statistics-grid i.fa.fa-user,.agile-statistics-grid i.fa.fa-trophy {
	color: #FFFFFF;
    font-size: 2em;
    width: 100px;
    height: 100px;
    background: #ff9800;
    border-radius: 50%;
    padding: 1.1em 0 0 0;
}
.statistics-grid2{
	position:relative;
}
.statistics-grid2:before{
    content: "";
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    width: 36%;
    top: 100px;
    left: -60px;
}
.statistics-grid2:after{
    content: "";
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    width: 36%;
    top: 100px;
    right: -60px;
}
/*-- //statistics --*/
/*-- experience --*/
.experience{
	background:#FFFFFF;
}
.experience-heading h3{
	color: #2f2f2f;
}
.w3-agile-experience-grids {
    margin: 4em 0 0 0;
}
.experience-grid{
    text-align: center;
    padding: 2em;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
}
.experience-grid-icon i.fa.fa-folder-open,.experience-grid-icon i.fa.fa-bell,.experience-grid-icon i.fa.fa-comments,.experience-grid-icon i.fa.fa-asterisk{
    color: #2f2f2f;
    background: none;
    border: solid 2px #ff9800;
    width: 100px;
    height: 100px;
    font-size: 2em;
    padding: 1.1em 0 0 0;
}
.experience-grid-info h5{
    color: #2f2f2f;
    font-size: 1.5em;
    margin: 1em 0 0 0;
    font-weight: 700;
}
.experience-grid-info p{
	color: #999999;
    font-size: .9em;
    margin: 1em 0 0 0;
    line-height: 1.8em;
}
.experience-grid1 {
    border-right: none !important;
}
.experience-grid2 {
    border-bottom: none !important;
}
.experience-grid3 {
    border-bottom: none !important;
    border-right: none !important;
}
/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  background: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9800;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: #FFFFFF;
}
.experience-grid:hover div.hvr-radial-out:before{
  -webkit-transform: scale(2);
  transform: scale(2);	
  color:#FFFFFF;
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.experience-grid:hover div i.fa.fa-folder-open,.experience-grid:hover div i.fa.fa-bell,.experience-grid:hover div i.fa.fa-comments,.experience-grid:hover div i.fa.fa-asterisk{
	color: #FFFFFF;
}
/*-- //experience --*/
/*-- feedback --*/
.feedback{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background:size:cover;
}
.feedback-top{
    padding: 1em;
    background: rgba(255, 255, 255, 0.18);
	position:relative;
}
.feedback-top:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 27%;
    width: 0;
    height: 0;
    border-top: 9px solid rgba(227, 227, 227, 0.23);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    transform: rotate(0deg);
}
.feedback-top p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
	line-height:1.8em;
}
.feedback-img{
    float: left;
    width: 28%;
}
.feedback-grids {
    margin: 2em auto 0;
    width: 55%;
}
.feedback-img img{
	width:100%;
}
.feedback-info {
    margin: 1em !important;
}
.feedback-img-info{
    float: left;
    width: 50%;
    margin-left: .5em;
}
.feedback-img-info h5{
    color: #ff9800;
    font-size: 1em;
    margin: 0;
    font-weight: 600;
}
.feedback-img-info p{
    color: #cecece;
    font-size: .9em;
    margin: 0;
}
/*-- //feedback --*/
/*-- portfolio --*/
.portfolio{
	padding:4em 0;
	background: #f6f6f6;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
    cursor: default;
    background: #ff9800;
    border: solid 2px #ff9800;
}
.nav-tabs > li > a {
    margin-right: 3px;
    border-radius: 0;
    font-size:1em;
    color: #333333;
	border: solid 2px #333333;
}
.nav-tabs > li > a:focus{
	background:transparent;
}
.nav-tabs {
    border-bottom: none;
    margin: 3em auto;
    width: 34%;
    text-align: center;
}
.nav-tabs > li {
    margin: 0 10px;
}
.nav-tabs > li > a:hover {
    color: #FFFFFF;
    background: #ff9800;
    border: solid 2px #ff9800;
}
.w3_tab_img_left h3 {
    font-size: 1.5em;
    color: #fff;
    margin: 0 0 .5em;
}
.w3_tab_img_left p{
	color:#fff;
	line-height:2em;
}
.w3_tab_img_left {
    margin: 2em 0 0;
}
/*-- //portfolio --*/
/*-- map --*/
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.map-grid iframe {
    border: none;
    width: 100%;
    height: 400px;
}
/*-- //map --*/
/*-- contact --*/
.contact-form{
	margin:4em 0 0 0;
}
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.contact input[type="text"],.contact textarea{
    font-size: .9em;
    color: #8c8c8c;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
.contact textarea { 
	min-height: 150px;
    resize: none;
} 
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #333333;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width: 49%;
    margin: 2em 0 1em 1em;
    position: relative;
    float: left;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #8c8c8c;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 
/*-- //input-effect --*/
.contact input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .5em 3em;
    font-size: .9em;
    font-weight: 600;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #FF9800;
    border: 2px solid #ff9800;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    background-color: transparent;
    color: #333333;
	background:none;
	border: 2px solid #333333;
}
/*-- //contact --*/
/*-- footer --*/
.agileits-w3layouts-footer{
	padding:1em 0;
	text-align:center;
	background: #0f1215;
}
.agileits-w3layouts-footer p{
	color:#FFFFFF;
	margin:0;
	font-size:.9em;
}
.agileits-w3layouts-footer p a{
	color:#FFFFFF;
	text-decoration:none;
}
.agileits-w3layouts-footer p a:hover{
	color:#FF9800;
}
/*-- //footer --*/
/*-- responsive --*/
@media(max-width:1440px){
	#m_nav_menu {
		right: 140px!important;
	}
	.nav-tabs {
		width: 38%;
	}
}
@media(max-width:1366px){
	#m_nav_menu {
		right: 105px!important;
	}
}
@media(max-width:1280px){
	#m_nav_menu {
		right: 61px!important;
	}
	.nav-tabs {
		width: 43%;
	}
}
@media(max-width:1080px){
	.nav-tabs {
		width: 51%;
	}
	.m_nav_item a {
		font-weight: 600 !important;
	}
	#m_nav_container {
	    text-align: center !important;
		box-shadow: 0 0 2px #000 !important;
	}
	#m_nav_list {
	    margin: 0.5em 0 0 0 !important;
	}
	.nav-tabs {
		margin: 1em auto;
	}
}
@media(max-width:1024px){
	#m_nav_menu {
		right: 33px!important;
	}
	.nav-tabs {
		width: 54%;
	}
}
@media(max-width:991px){
	.w3ls-banner-left {
		width: 35%;
	}
	.w3ls-banner-right {
		width: 65%;
	}
	.banner-right-img {
		float: none;
		width: 35%;
	}
	.banner-right-info {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3-button {
		margin: 1em 0 0 0;
	}
	.social-info {
		float: left;
		width: 30%;
	}
	#m_nav_menu {
		right: 120px!important;
	}
	.wthree-about-right {
		margin: 2em 0 0 0;
	}
	.statistics-grid2:before {
		left: -38px;
	}
	.statistics-grid2:after {
		right: -38px;
	}
	.experience-grid {
		border-right: none;
	}
	.experience-grid2 {
		border-bottom: solid 1px #999999 !important;
	}
	.m_nav_item a {
		font-size: 1em !important;
	}
	.feedback-grids {
		width: 100%;
	}
	.feedback-top:after {
		left: 10%;
	}
	.w3_tab_img_left {
		float: left;
		width: 25%;
	}
	.styled-input {
		width: 48%;
	}
}
@media(max-width:800px){
	#m_nav_menu {
		right: 31px!important;
	}
	.nav-tabs {
		width: 70%;
	}
}
@media(max-width:736px){
	#m_nav_menu {
		right: 16px!important;
	}
	.agile-statistics-grid {
		float: left;
		width: 33.33%;
	}
	.nav-tabs {
		width: 71%;
	}
	#m_nav_container {
		height: 230px !important;
	}
}
@media(max-width:667px){
	.social-info {
		width: 35%;
	}
	.nav-tabs > li {
		margin: 0 4px;
	}
	.w3_tab_img_left {
		width: 50%;
	}
}
@media(max-width:640px){
	.nav-tabs {
		width: 73%;
	}
}
@media(max-width:568px){
	.social-info {
		width: 40%;
	}
	.agile-statistics-grid p {
		font-size: .9em;
		letter-spacing: 0px;
	}
	.statistics-grid2:before {
		left: -28px;
		width: 32%;
	}
	.statistics-grid2:after {
		right: -28px;
		width: 32%;
	}
	.experience-grid {
		padding: 2em 0;
	}
	.nav-tabs {
		width: 84%;
	}
}
@media(max-width:480px){
	.banner-right-img {
		width: 45%;
	}
	.w3ls-banner-left {
		float: none;
		width: 100%;
		margin: 1em 0 0 0;
	}
	.w3ls-banner-right {
		width: 100%;
		float: none;
	}
	.banner-right-img {
		width: 36%;
		margin: 0 auto;
	}
	.w3l-banner-grids {
		margin: 2em 0 0 0;
	}
	.banner {
		padding: 1em 0 2em;
	}
	.about, .statistics, .experience, .feedback, .projects, .contact {
		padding: 2em 0;
	}
	.agile-statistics-grid {
		float: none;
		width: 100%;
	}
	.statistics-grid2 {
		position: relative;
		margin: 6em 0;
	}
	.statistics-grid2:before {
		left: 216px;
		width: 2px;
		height: 65px;
		top: -77px;
	}
	.statistics-grid2:after {
		right: 215px;
		width: 2px;
		height: 65px;
		top: 200px;
	}
	.nav-tabs > li > a {
		padding: 5px 8px;
	}
}
@media(max-width:414px){
	.wthree-about-left h3, .wthree-about-right h3, .w3-agileits-statistics-heading h3 {
		font-size: 1.5em;
	}
	.agile-statistics-grids {
		margin: 2em 0 0 0;
	}
	.statistics-grid2:before {
		left: 183px;
	}
	.statistics-grid2:after {
		right: 183px;
	}
	.w3-agile-experience-grids {
		margin: 0em 0 0 0;
	}
	.experience-grid {
		padding: 1em 0;
	}
	.nav-tabs {
		width: 95%;
	}
	.nav-tabs {
		margin: 1em auto 0;
	}
	.map-grid iframe {
		height: 200px;
	}
	.styled-input {
		width: 100%;
	}
	.styled-input {
		margin: 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 1em;
	}
	.m_nav_ham {
		width: 25px !important;
		height: 2px !important;
	}
	.m_nav_ham_2_open {
		margin-top: -7px !important;
	}
	.m_nav_ham_1_open {
		margin-top: 11px !important;
	}
}
@media(max-width:384px){
	.statistics-grid2:before {
		left: 170px;
	}
	.statistics-grid2:after {
		right: 170px;
	}
	.nav-tabs > li > a {
		font-size: .87em;
	}
	.contact-form {
		margin: 2em 0 0 0;
	}
}
@media(max-width:375px){
	.statistics-grid2:before {
		left: 162px;
	}
	.nav-tabs > li {
		margin: 3px 4px;
	}
	.w3_tab_img_left {
		width: 100%;
		margin: 1em 0 0 0;
	}
}
@media(max-width:320px){
	.agile-logo {
		width: 50%;
	}
	.agile-logo h1 a {
		font-size: .3em;
	}
	.agile-logo h1 a span {
		font-size: 2.3em !important;
	}
	.banner-right-img {
		width: 60%;
	}
	.w3ls-banner-right {
		padding: 0;
	}
	.social-info {
		width: 100%;
		float: none;
		margin-bottom: 1em;
	}
	.agileinfo-social-grids {
		float: none;
		margin: 0;
		width: 100%;
	}
	.w3ls-banner-left {
		padding: 0;
	}
	.agile-statistics-grid i.fa.fa-desktop, .agile-statistics-grid i.fa.fa-user, .agile-statistics-grid i.fa.fa-trophy {
		width: 80px;
		height: 80px;
		padding: 1.2em 0 0 0;
	}
	.statistics-grid2:before {
		left: 135px;
	}
	.statistics-grid2:after {
		right: 135px;
		top: 181px;
	}
	.experience-grid-icon i.fa.fa-folder-open, .experience-grid-icon i.fa.fa-bell, .experience-grid-icon i.fa.fa-comments, .experience-grid-icon i.fa.fa-asterisk {
		width: 80px;
		height: 80px;
		padding: .7em 0 0 0;
	}
}
/*-- //responsive --*/